* {
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0;
    width: 100%;
    padding: 0;
}
body {
    background-color: beige;
}

.container {
    display: flex;
}

h1 {
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-size: 25px;
}

.title {
    width: 100%;
    background-color: none;
}

#location {
    font-size: 25px;
    font-weight: bold;
}

#icon img {
    height: 80px;
    width: 80px;
}

.form-input {
   width: 220px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input:focus::placeholder {
    color: transparent;
  }

.result-cont {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.five-day {
    display: flex;   
}

.weather-cont {
    margin-left: 10px;
}

/* Removing margins from temp id */
#temp, #humidity, #description {
    margin: 0rem;
}

.fiveDay{
    padding: 5px;
    border-color: red;
    margin-left: -1px;
}

.historySearchBtn {
    background-color: rgb(237, 232, 156);
    padding: 5px;
    width: 220px;
    height: 40px;
}

.search-btn {
    background-color: goldenrod;
    width: 220px;
    height: 40px;
    color: black;
    margin-bottom: 15px;
    border-radius: 3px;
}

.card {
    border-style: groove;
    border-color: rgb(50, 45, 46);
    border-width: 3px;
}

.cities-holder {
    border-color: transparent;
    background-color: transparent;
}

#current-date {
    font-size: 18px;
}

.card-title {
    font-size: 18px;
}

